[Desktop Entry]
Encoding=UTF-8
Name=Link to https://deepmind.com/static/v0.0.0/images/deepmind_logo.png
Type=Link
URL=https://deepmind.com/static/v0.0.0/images/deepmind_logo.png
Icon=image-png
Name[en_US]=deepmind_logo.png
